{% extends 'main/base.html' %}

{% block title %}Camera list{% endblock title %}

{% block content %}
<div  style="width: 1000px; margin-top: 100px">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for cam in camera.all %}
            <a class="btn" href="/livefe/{{ cam.ip_address }}">
                <div class="col">
                    <div class="card">
                    <img src="{{cam.thumbnail.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{cam.name}}</h5>
                        <p class="card-text">{{cam.ip_address}}</p>
                    </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
</div>
{% endblock content %}