{% extends 'main/base.html' %}

{% block title %}Camera list{% endblock title %}

{% block content %}
<div  style="width: 1000px; margin-top: 100px">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for cam in camera.all %}
            <a class="btn" href="/livefe/{{ cam.ip_address }}">
                <div class="col">
                    <div class="card">
                        <img src="/media/img/thumbnail/{{cam.name}}.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{cam.name}}</h5>
                            <p class="card-text">{{cam.ip_address}}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        <!--add new camera-->
        <a class="btn" href="/add_new_camera/">
            <div class="col">
                <div class="card">
                    <img src="/media/img/icon/add_new_icon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Add New Camera</h5>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
{% endblock content %}