{% extends 'main/base.html' %}

{% block title %}{{location}}{% endblock title %}

{% block content %}
  
  <div class="row" ,name="seat_number_count", style=" padding: 10px; word-spacing: 10px; height: 100px;">
    <h3 >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-split" viewBox="0 0 16 16">
        <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
    </svg>
    Location: <span class="badge bg-secondary">{{location}}</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
      <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
    </svg>
    Available Seat: <span class="badge bg-primary", id="chat-log">0</span>    
    </h3>
  </div>
  <div class="row" ,name="seat_display" , style="position: relative">
    {% for seat in location.seat_set.all %}
      {% if seat.occupy == True%}
        <div class="card text-white bg-secondary mb-3" style="position: absolute; max-width: 4rem; top:{{seat.seat_position_y}}px; left:{{seat.seat_position_x}}px">
          <div class="card-header">{{seat.seat_number}}</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
      
      {% else %}
        <div class="card text-white bg-primary mb-3" style="position: absolute; max-width: 4rem; top:{{seat.seat_position_y}}px; left:{{seat.seat_position_x}}px">
          <div class="card-header">{{seat.seat_number}}</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
      {% endif %}
  {% endfor %}
  </div>

<script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerText =data.message;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
</script>
{% endblock content %}

